/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.home-container-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #000000;
  color: #ffffff;
}
.home-image {
  height: 200px;
}
